# Core
Flask
Flask-Login
Flask-WTF
Werkzeug
Jinja2

# Resume Parsing
pdfminer.six
python-docx
PyPDF2

# Environment / Openrouter
OPENROUTER_API_KEY=sk-or-v1-091...105
# Extra
requests

# Deployment
gunicorn

